{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    <h1>Modifier un prélèvement</h1>

    {{ include('strain/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-info" href="{{ path('strain_index') }}">Retour</a>

    {{ include('strain/_delete_form.html.twig') }}
{% endblock %}
