{% extends 'base.html.twig' %}

{% block title %}Strain index{% endblock %}

{% block body %}
    <h1>Strain index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Creno</th>
                <th>DatePrelevement</th>
                <th>TypePrelevement</th>
                <th>MicroOrganisme</th>
                <th>Resistance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for strain in strains %}
            <tr>
                <td>{{ strain.id }}</td>
                <td>{{ strain.creno }}</td>
                <td>{{ strain.datePrelevement ? strain.datePrelevement|date('Y-m-d') : '' }}</td>
                <td>{{ strain.typePrelevement }}</td>
                <td>{{ strain.microOrganisme }}</td>
                <td>{{ strain.resistance }}</td>
                <td>
                    <a href="{{ path('strain_show', {'id': strain.id}) }}">show</a>
                    <a href="{{ path('strain_edit', {'id': strain.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('strain_new') }}">Create new</a>
{% endblock %}
