{% extends 'base.html.twig' %}

{% block title %}Edit Finess{% endblock %}

{% block body %}
    <p>Utilisateur connecté : {{ app.user.username }}</p>
    <h1 class = "titreListe">Modifier établissement</h1>

    {{ include('finess/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-info" href="{{ path('finess_index') }}">Retour</a>

    {{ include('finess/_delete_form.html.twig') }}

    {# div en display none pour passer au javascript les données dont il à besoin #}
    <div class = "id d-none">{{ finess.id }}</div>
    <div class = "adresse d-none">{{ finess.adresse }}</div>
    <div class = "code d-none">{{ finess.codePostal }}</div>
    <div class = "ville d-none">{{ finess.ville }}</div>

    <script src="/apiGeocodage/apiGeocodageUpdate.js"></script>
{% endblock %}
